@use "import" as *;

// ================= BODY ================
// body{
//   background-color: hsla($main_color, 20%, 2%, .8);
// }

// ================= NAVBAR ================
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  z-index: $z-fixed;
  background: transparent;
  backdrop-filter: blur(0.2rem);
  @include flex;

  &__nav {
    @include flex;
    justify-content: space-between;
    height: 100%;

    &-container {
      position: relative;

      @media screen and (max-width: rem(767)) {
        position: absolute;
        top: 0;
        right: -80%;
        width: 70%;
        height: 100vh;
        background-color: $white-color;
        box-shadow: -5px 0 10px 5px hsla(0, 0%, 80%, 0.5);
        z-index: $z-fixed;
        transition: right $ease-in $img-transition;
      }

      &__list {
        @include flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: $mb-2;
        padding: $mb-3-5 0 0 $mb-2;

        @media screen and (min-width: rem(768)) {
          flex-direction: row;
          padding: 0;
          column-gap: $mb-3;
        }

        &-item {
          position: relative;

          &__link {
            @include font;
            text-transform: uppercase;
            transition: $ease-in $img-transition;
            z-index: $z-fixed;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              background-color: $main-green-color;
              width: 100%;
              opacity: 1;
              height: 100%;
              transform-origin: right;
              transform: scaleX(0);
              z-index: -1;
              transition: transform $ease-in $img-transition;
            }

            &:hover::before {
              transform-origin: left;
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
    }

    .close,
    .toggle {
      display: none;
      font-size: $h1-font-size;

      @media screen and (max-width: rem(767)) {
        display: block;
      }
    }
  }
}

// ================= FIRSTSECTION ================
.firstSection{
  &__container{
    @include grid;
    row-gap: rem(30);

    @media screen and (min-width: rem(768)){
      grid-template-columns: repeat(2, 1fr);
    }

    .one{
      @include grid;
      @include font;
      font-weight: $font-semi-bold;
      font-size: $h3-font-size;
      align-items: center;

      span{
        position: relative;

        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $main-green-color;
          width: 100%;
          height: 13px;
          z-index: -1;
        }
      }
    }

    .two{
      @include grid;
      gap: 0;
      grid-template-columns: repeat(2);
      justify-items: center;

      @media screen and (min-width: rem(768)){
        grid-column: span 2;
      }

      a{
        @include grid;
        gap: rem(5);
        grid-template-columns: 10% 1fr;
        @include font;
        color: $black-color;
        font-size: $h2-font-size;
        background-color: $main-green-color;
        border: 2px solid $black-color;
        padding: $mb-0-5 $mb-0-75;
        justify-items: center;
        align-items: center;

        i{
          @include flex;
          align-items: center;
        }
      }
    }

    .three{
      width: clamp(rem(200), rem(250), rem(350));
      justify-self: center;

      @media screen and (min-width: rem(768)) {
        grid-column: 2/3;
        grid-row: -1/-2;
      }

    }
  }
}